<div class="text-layaut">
    <h1> Pipes Basico</h1>
    <p>
        pipes incluidos en Angular -- Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">

    <div class="p-col-3">
        <p-card header="Upercases" [subheader]="nombreUper |uppercase">
            {{nombreUper |uppercase}}

        </p-card>
    </div>

    <div class="p-col-3">
        <p-card header="lowercaes" [subheader]="nombreLower |lowercase">
            {{nombreLower |lowercase}}

        </p-card>
    </div>

    <div class="p-col-3">
        <p-card header="titlecase" [subheader]="nombrecompleto |titlecase">
            {{nombrecompleto |titlecase}}

        </p-card>
    </div>
</div>

<div class="text-layaut">
    <h1> Date | Fecha | Pipe </h1>
    <p>
        Pipes Para Mostra Fecha.
    </p>
</div>
<div class="p-grid">

    <div class="p-col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha |date</li>
                <li>fecha |date:short</li>
                <li>fecha |date:long</li>
                <li>fecha |date:'dd-MMM-YY h:mm a'</li>
            </ul>
            <hr>

            <ul>

                <li> fecha | date: 'long': 'GMT-6' </li>
                <li> fecha | date: 'long': 'GMT-4' </li>

            </ul>
        </p-card>

    </div>

    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{fecha}} </li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'dd-LLLL-YY h:mm a'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date: 'long': 'GMT-6' }}</li>
                <li>{{fecha | date: 'long': 'GMT-4' }}</li>
                <li>{{fecha | date: 'long': '': 'en' }}</li>
            </ul>
        </p-card>

    </div>
</div>